//////////// c o l o r s ////////////

$theme-color: #15bea4;

//////////// f o n t s ////////////

$regular-font: "Rubik Regular", "Helvetica", sans-serif;
$bold-font: "Rubik Bold", "Helvetica", sans-serif;
$black-font: "Rubik Black", "Helvetica", sans-serif;
$light-font: "Rubik Light", "Helvetica", sans-serif;
$medium-font: "Rubik Medium", "Helvetica", sans-serif;
$medium-italic-font: "Rubik Medium Italic", "Helvetica", sans-serif;
$minor-font: "Arial", sans-serif;
