.faq {
  background-color: #15bea4;
}

.faq__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq__headline {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #ffffff;
}

.faq__accordion {
  width: 100%;
}

.faq__label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 16px 70px;
  font-size: 18px;
  line-height: 20px;
  color: #333333;
  background-color: #5ee8d3;
  border-radius: 24px;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: #ffffff;
    color: #15bea4;
  }
}

.faq__title {
  position: relative;
  margin: 0;
  font-family: $medium-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

.faq__input:checked ~ .faq__label {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #15bea4;
  background-color: #ffffff;
}

.faq__toggle {
  position: absolute;
  top: 0;
  left: -40px;
  stroke: #333333;
}

.faq__label:hover .faq__toggle {
  stroke: $theme-color;
}

.faq__input:checked ~ .faq__label .faq__toggle {
  stroke: $theme-color;
  transform: rotate(180deg);
}

.faq__description {
  display: none;
  color: #666666;
  font-size: 14px;
  line-height: 24px;
  transition: all 1s ease-out 1s;
  -webkit-transition: all 1s ease-out 1s;
}

.faq__description a {
  color: #15bea4;
  text-decoration: underline;
}

.faq__input:checked ~ .faq__label .faq__description {
  display: block;
  transition: all 1s ease-out 1s;
  -webkit-transition: all 1s ease-out 1s;
}

.faq__input:checked:hover ~ .faq__label .faq__title,
.faq__input:checked:hover ~ .faq__label a {
  color: #f7717f;
}

.faq__input:checked:hover ~ .faq__label .faq__toggle {
  stroke: #f7717f;
}

.faq__info {
  margin-top: 40px;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
}

.faq__info span {
  font-family: $bold-font;
}

.faq__link {
  font-family: $medium-font;
  color: #ccffff;
  text-decoration: underline;

  &:hover {
    color: #ffffff;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }
}

.faq__info i {
  font-family: $regular-font;
  font-size: 16px;
}
