.feedback {
  background-color: #f7717f;
  padding-top: 30px;
  padding-bottom: 40px;
}

.feedback__container {
  width: 770px;
}

.feedback__headline {
  color: #ffffff;
  margin-bottom: 35px;
}

.feedback__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback__fieldset {
  width: 372px;
  border: none;
  box-sizing: border-box;
}

.feedback__input,
.feedback__textarea {
  width: 100%;
  padding: 18px;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: 0 0 0 2px #ffffff inset;
  border-radius: 10px;
  box-sizing: border-box;

  &:hover {
    background-color: rgba(#ffffff, 0.1);
  }

  &:focus,
  &:active {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 0 0 0 2px $theme-color inset;
  }
}

.feedback__input {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.feedback__textarea {
  height: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ffffff;
}

textarea::-webkit-input-placeholder,
textarea:-moz-placeholder {

  &::after {
    content: "(необязательно)";
    font-size: 12px;
    font-family: $light-font;
  }
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #ffffff;
}

.feedback__bottom {
  width: 100%;
  text-align: center;
}

.feedback__button {
  display: flex;
  align-items: center;
  margin: 40px auto 0;
  color: #ffffff;
  background-color: $theme-color;

  &:hover {
    color: $theme-color;
    background-color: #ffffff;
    border-color: #ffffff;
  }

  &:focus,
  &:active {
    opacity: 0.6;
  }
}

.feedback__send-icon {
  margin-right: 5px;
  fill: none;
  stroke: #ffffff;
}

.feedback__button:hover .feedback__send-icon {
  stroke: $theme-color;
}
